<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="./css/regist.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>
<div id="loginDiv">
    <form>
        <h1 style="text-align: center;color:#6c757d;">注  册</h1>
        <p style="color: #6c757d">用户名称:<input id="uName_1" name="uName" class="input1" type="text" autofocus required></p>

        <p style="color: #6c757d">用户密码:<input id="uPwd_1" name="uPwd" class="input1" type="password" required></p>

        <p style="color: #6c757d">确认密码:<input id="surePassword_1" class="input1" type="password" required></p>

        <p style="color: #6c757d">手机号码:<input id="tel_1" name="uPhone" class="input1" type="text" autofocus required></p>

        <p style="text-align: center;margin-top: 30px;">
            <input type="button" class="btn btn-sm btn-outline-secondary"  onclick="register()" value="  注 册  ">
            <input type="reset" class="btn btn-sm btn-outline-secondary" value="  重 置  ">
        </p>
    </form>
</div>
<script>
    function register() {
        if($("#uPwd_1").val() === $("#surePassword_1").val()){
            $.post('/user/userRegister',
                {
                    uName: $("#uName_1").val(),
                    uPwd: $("#uPwd_1").val(),
                    uPhone: $("#tel_1").val()
                },
                function (data){
                    switch (data.code) {
                        case 401:
                            alert("用户名为空");
                            break;
                        case 402:
                            alert("密码为空");
                            break;
                        case 403:
                            alert("电话为空");
                            break;
                        case 200:
                            window.location.href = "http://localhost:8080/login.html";
                            break;
                    }
                }
            )
        }
        else{
            alert("请重新确认密码");
        }

    }
</script>
</body>
</html>